{
	"root": true,
	"parserOptions": {
		"ecmaVersion": 2023,
		"sourceType": "module"
	},
	"plugins": ["prettier"],
	"extends": ["eslint:recommended", "eslint-config-prettier", "prettier"],
	"env": {
		"node": true,
		"es6": true
	},
	"rules": {
		"no-unused-vars": "off",
		"prettier/prettier": [
			"warn",
			{
				"arrowParens": "always",
				"semi": true,
				"trailingComma": "all",
				"useTabs": true,
				"tabWidth": 2,
				"endOfLine": "auto",
				"overrides": [
					{
						"files": "*.yaml",
						"options": {
							"tadWidth": 2,
							"printWidth": 40
						}
					}
				]
			}
		]
	}
}
